body {
  background-color: aliceblue;
  text-align: center;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.topics a {
  border: 2px solid #9eb8d9;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #9eb8d9;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
}

a:active {
  background-color: #9eb8d9;
}

/* ul {
  display: inline-block;
  text-align: left;
} */
